.list {
    color: #494d4d;
    padding: 0.2rem 0.2rem;
    margin-top: 0.8rem
}

.list h2 {
    max-height: 0.9rem;
    font-size: 0.33rem;
    overflow: hidden;
    
}
.tezi{margin-top: 48px;}
.list p {
    max-height: 1.8rem;
    margin-top: 0.05rem;
    overflow: hidden;
    
    
}
.imgs{float: left;padding-left: 6px;}
.cont{border-bottom: 1px dashed #ccc;}
.float{padding: 10px 0 0 70px;}
.pp{padding-left: 3px}